.header{
	height: 20%;
	background-color: #E91E63;
}

.header-fne{
	padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10%;
}

.header-img{
	height: 50%;
	width: 50%;
}

.header-text{
  font-family: fne_regular;
  font-size: 30px;  
  color: #FFF;
  padding-top: 2%;
}

.content-fne{
  background-color: #3F51B5;
  height: 70%;
}

@font-face {
  font-family: fne_ligth;
  src: url("../fonts/Ikaros-Light_0.otf");
}

@font-face {
  font-family: fne_regular;
  src: url("../fonts/Ikaros-Regular_0.otf");
}

.formAdd{
	padding-bottom: 2%;
	padding-top: 2%;
	background-color: #FFF;
}

.input-fne{
	background-color: #673AB7;
	color: #FFF;
}

.form-title{
	font-family: fne_regular;
	color: #673AB7;
    margin-left: 10%;
}

.formAdd label{
	font-family: fne_regular;
}

.btn-fne{
	font-family: fne_regular;
	background-color: #4CAF50;
}

.formAdd #images_candidatas{
	width: 100%;
    background-color: #673AB7;
}

.formAdd .title_form{
	margin-bottom: 30px;
}

