<div >
	<div class="col-md-1"></div>
	<div class="col-md-10 formAdd">
		<div class="col-md-12 title_form">
			<h2 class="form-title">Agregar una candidata</h2>
		</div>
		<div class="col-md-12">
			<form class="form-horizontal">
				<div class="col-md-12">
					<div class="col-md-5">
						<div class="form-group">
							<div class="col-md-12">
								<div id="images_candidatas" class="btn btn-primary" ngf-select ng-model="candidata.images" ngf-multiple="true" ngf-accept="'image/*'" ngf-keep="'distinct'"  ngf-validate="{size: {min: 10, max: '20MB'}, width: {min: 100, max:10000}" name="images">Seleccione imagenes</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div class="item" ng-class="{'active':$index == 0}" ng-repeat="f in candidata.images">
											<img ngf-src="!f.$error && f"  alt='no se cargar'>
											<div class="carousel-caption">
											</div>
										</div>
									</div>
									<!-- Controls-->
									<span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" >
										<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</span>
									<span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span> 
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group">
							<label class="col-sm-2 control-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="name" placeholder="Nombre">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Apellido</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="lastname" placeholder="Apellido">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">DNI</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="dni" placeholder="dni">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Domicilio</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="domicilio" placeholder="domicilio">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Instancia</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="instancia" placeholder="instancia">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Entidad</label>
							<div class="col-sm-10">
								<input type="text" class="form-control input-fne" id="entidad" placeholder="entidad">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
        <div class="col-md-12">
            <a ng-href="#/home" class="btn btn-default btn-fne">Volver</a>
            <button type="submit" class="btn btn-default btn-fne">Guardar</button>
        </div>    
	</div>
	<div class="col-md-1"></div>
</div>